body {
  margin: 100px;
  font-family: sans-serif;
  text-align: center;
  font-size: 3em;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter {
  padding: 0 2rem;
}

button {
  appearance: none;
  border: none;
  padding: 0.5rem;
  font-size: 1em;
  width: 64px;
  background-color: hotpink;
}
